# Maven build output
/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs and temp files
*.log
*.tmp
